.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 119px;
}

.about-title {
  white-space: nowrap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.about-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-top: 50px;
  color: #727272;
}
