.public-btn {
  width: 225px;
  height: 65px;
  background: #34547a;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  border: none;
  color: #ffffff;
  margin-top: 60px;
  border-radius: 5px;
}
