section {
  display: flex;
  justify-content: space-around;
  margin-top: 162px !important;
}

.frame-wrapper {
  width: 357px;
  height: 233.7px;
}

.content-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}

.content-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 60px;
  color: #727272;
}
