.form {
  width: 100vw;
  height: 100vh;
}
.input-list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.input-data {
  width: 255px;
  height: 50px;
  margin-right: 30px;
}
.input-text {
  width: 540px;
  height: 175px;
  margin-top: 20px;
  margin-right: 30px;
}
