
.nav-list {
  display: flex;
  align-items: center;
  margin-top: 57px;
}
.nav-item {
  margin-right: 42px;
}

.nav-link {
  white-space: nowrap;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
}

.nav-link:hover {
  font-weight: 500;
  color: #34547a;
}
.logo {
  color: #34547a;
  font-family: Revalia;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}