.number {
  background: #34547a;
  height: 250px;
}
.number-list {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.number-item {
  width: 141px;
  height: 50px;
  margin-top: 100px;
  margin-right: 50px;
  cursor: pointer;
}
