@import './reset.css';
@import './bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './header.css';
@import './about.css';
@import './content.css';
@import './btn.css';
@import './numbers.css';
@import './skills.css';
@import './video-wrapper.css';
@import './view.css';
@import './clients.css';
@import './form.css';
@import './footer.css';
* {
  box-sizing: border-box;
}
